<ul class="edit-group">
  <li><%= link_to 'Edit', engine_aware_path(section_node.node), class: 'add-link' unless section_node.root? %></li>
  <li><%= link_to 'Configure', edit_engine_aware_path(section_node.node), class: 'add-link' %></li>
  <!--<% if section_node.page? %>-->
  <!--<li><a href="#" class="add-link">Archive</a></li>-->
  <!--<% end %>-->
  <!--<li><%= link_to("Hide", "#", class: 'add-link') unless section_node.root? %></li>-->
  <li><%= link_to 'Delete', engine_aware_path(section_node.node),
                  class: 'add-link http_delete confirm_with_title',
                  title: "Are you sure you want to delete #{section_node.node.name}?" if section_node.deletable? %></li>
</ul>
