<%= render 'sitemap_buttons' %>
<div class="main-content padded">
  <div id="sitemap" data-editable='<%= @sitemap_editable %>'>
    <%= render 'fast_section_node', section_node: @sitemap, home: true %>
  </div>
</div>

